<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Home</title>
        <style>
        </style>
    </head>
    <body>
        <h1>Home page</h1>
        <hr />
        <div>
            <p>Logged in as user...</p>
            <a href="/logout">logout</a>
        </div>
    </body>
</html>