<html lang="en">
    <head>
        <meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="styles.css" />
        <title>Index</title>
    </head>

    <body>
        <div class="main">
            <h1>Links</h1>
            <a href="/">/</a>
            <a href="/seed-data">/seed-data</a>
            {{#if isLoggedIn}}
                <br/>
                <a href="/welcome">/welcome</a>
                <a href="/logout">/logout</a>
            {{else}}
                <br/>
                <a style="background-color:#CF3C3C;" href="/login">/login</a>
                <a style="background-color:#35A671;" href="/login-safe">/login-safe</a>
            {{/if}}
            <br/>
            <a style="background-color:#CF3C3C;" href="/dom-xss">/dom-xss</a>
            <a style="background-color:#35A671;" href="/dom-xss-safe">/dom-xss-safe</a>
            <a style="background-color:#CF3C3C;" href="/dom-xss2">/dom-xss2</a>
            <a style="background-color:#35A671;" href="/dom-xss2-safe">/dom-xss2-safe</a>
        </div>

        <div class="main">
            <h1>Text to Binary Converter <span style="color: #3D84DB;"> (SAFE)</span> </h1>
            <p>Enter text here:</p>
            <form id="myForm" method="GET" action="/dom-xss-safe">
                <input type="text" name="textInput" />
                <button type="submit">Submit</button>
            </form>
        </div>

        <div class="main">
            <br />
            Text Entered:
            <span id="text-span"></span>
            <br />
            Result:
            <span id="result-span"></span>
        </div>

    </body>

    <script>
        function stringToBinary(inStr) {
            var result = "";
            for (var i = 0; i < inStr.length; i++) {
                result = result + inStr.charCodeAt(i).toString(2) + " ";
            }
            return result;
        }
        function documentWriteSink() {
            var textIn = new URLSearchParams(window.location.search).get("textInput");
            var result = "";
            result = stringToBinary(textIn);
            document.getElementById("text-span").innerText = textIn;
            document.getElementById("result-span").innerText = result;
        }
        documentWriteSink();
    </script>
</html>