<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>NoSQL Demo</title>
        <style></style>
    </head>
    <body>
        {{#each users}}
            <h1>{{username}}: {{password}}</h1>
        {{/each}}
    </body>
</html>