<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="styles.css" />
        <title>Index</title>
    </head>

    <body>
        <div class="main">
            <h1>Links</h1>
            <a href="/">/</a>
            <a href="/seed-data">/seed-data</a>
            {{#if isLoggedIn}}
                <br/>
                <a href="/welcome">/welcome</a>
                <a href="/logout">/logout</a>
            {{else}}
                <br/>
                <a style="background-color:#CF3C3C;" href="/login">/login</a>
                <a style="background-color:#35A671;" href="/login-safe">/login-safe</a>
            {{/if}}
            <br/>
            <a style="background-color:#CF3C3C;" href="/dom-xss">/dom-xss</a>
            <a style="background-color:#35A671;" href="/dom-xss-safe">/dom-xss-safe</a>
            <a style="background-color:#CF3C3C;" href="/dom-xss2">/dom-xss2</a>
            <a style="background-color:#35A671;" href="/dom-xss2-safe">/dom-xss2-safe</a>
        </div>
    </body>
</html>