<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="styles.css" />
		<title>Login</title>
	</head>
	
	<body>
        <div class="main">
            <h1>Links</h1>
            <a href="/">/</a>
            <a href="/seed-data">/seed-data</a>
            {{#if isLoggedIn}}
                <br/>
                <a href="/welcome">/welcome</a>
                <a href="/logout">/logout</a>
            {{else}}
                <br/>
                <a style="background-color:#CF3C3C;" href="/login">/login</a>
                <a style="background-color:#35A671;" href="/login-safe">/login-safe</a>
            {{/if}}
            <br/>
            <a style="background-color:#CF3C3C;" href="/dom-xss">/dom-xss</a>
            <a style="background-color:#35A671;" href="/dom-xss-safe">/dom-xss-safe</a>
            <a style="background-color:#CF3C3C;" href="/dom-xss2">/dom-xss2</a>
			<a style="background-color:#35A671;" href="/dom-xss2-safe">/dom-xss2-safe</a>
        </div>

		<div class="main">
			<h1>NoSql Login Form{{#if isSafe}}<span style="color: #3D84DB;"> (SAFE)</span>{{/if}}</h1>

			<form method="get" action={{#if isSafe}}"/login-safe"{{else}}"/login"{{/if}}>
				<div class="question">
					<strong><label for="username">Username: </label></strong>
					<input type="text" name="username" placeholder="Username"></input>
				</div>

				<div class="question">
					<b><label for="password">Password: </label></b>
					<input type="text" name="password" placeholder="Password"></input>
				</div>

				<button type="submit">SUBMIT</button>

				<p style="color: red;">{{errorMessage}}</p>
			</form>
		</div>
	</body>
</html>