<!DOCTYPE html>
<html lang="en">
	<head>
			<meta charset="UTF-8" />
			<title>Login</title>
			<style>
				body {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					width: 100vw;
					height: 100vh;
					overflow: hidden;
					font-family: Arial, Helvetica, sans-serif;
					background-color: #2C3333;
				}
				
				.main {
					width: 450px;
					margin: 10px;
					padding: 8px 35px;
					padding-bottom: 20px;
					background-color: #E7F6F2;
					border-radius: 9px;
				}

				h1 {
					color: #2C3333;
				}

				.question {
					display: flex;
					flex-direction: column;
					margin-bottom: 12px;
				}

				input {
					margin: 3px 0;
					padding: 6px;
				}

				button {
					margin: 8px 0;
					background-color: #395B64;
					color: #FFFFFF;
					padding: 8px 12px;
					border-radius: 4px;
					border: none;
					cursor: pointer;
					font-weight: bold;
				}

				a { font-weight: bold; align-self: flex-start;
				display: inline-block;
            margin: 4px 0; background-color: #395B64; color: #FFFFFF; padding: 8px 12px; border-radius: 4px; border: none; cursor: pointer; text-decoration:
            none;}
			</style>
	</head>
	
	<body>
        <div class="main">
            <h1>Links</h1>
            <a href="/">/</a>
            <a href="/seed-data">/seed-data</a>
            {{#if isLoggedIn}}
                <br/>
                <a href="/welcome">/welcome</a>
                <a href="/logout">/logout</a>
            {{else}}
                <br/>
                <a style="background-color:#CF3C3C;" href="/login">/login</a>
                <a style="background-color:#35A671;" href="/login-safe">/login-safe</a>
            {{/if}}
            <br/>
            <a style="background-color:#CF3C3C;" href="/dom-xss">/dom-xss</a>
            <a style="background-color:#35A671;" href="/dom-xss-safe">/dom-xss-safe</a>
            <a style="background-color:#CF3C3C;" href="/dom-xss2">/dom-xss2</a>
        </div>

		<div class="main">
			<h1>NoSql Login Form{{#if isSafe}}<span style="color: #3D84DB;"> (SAFE)</span>{{/if}}</h1>

			<form method="get" action={{#if isSafe}}"/login-safe"{{else}}"/login"{{/if}}>
				<div class="question">
					<strong><label for="username">Username: </label></strong>
					<input type="text" name="username" placeholder="Username"></input>
				</div>

				<div class="question">
					<b><label for="password">Password: </label></b>
					<input type="text" name="password" placeholder="Password"></input>
				</div>

				<button type="submit">SUBMIT</button>

				<p style="color: red;">{{errorMessage}}</p>
			</form>
		</div>
	</body>
</html>