body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c3333;
}
.main {
    margin: 10px;
    width: 600px;
    padding: 8px 35px;
    padding-bottom: 30px;
    background-color: #e7f6f2;
    border-radius: 9px;
}
h1 {
    color: #2c3333;
}
.question {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
input {
    margin: 3px 0;
    padding: 6px;
}
ul {
    list-style: none;
    list-style-position: inside;
    padding: 0;
}
li {
    list-style-type: none;
    background-color: #a5c9ca;
    margin-bottom: 16px;
    padding: 16px 30px;
    border-radius: 8px;
}
a {
    display: inline-block;
    font-weight: bold;
    align-self: flex-start;
    margin: 4px 0;
    background-color: #395b64;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
