html,
body {
    height: 100%;
    color: #ffffff;
    font-size: 98%;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    overflow-wrap: break-word;
}

a,
button {
    color: #ffffff;
    background-color: #7858a6;
    cursor: pointer;
    padding: 0 0.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

button {
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #371b58;
    line-height: 1.5;
    display: flex;
}

ul {
    list-style: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.nav-menu {
    min-width: 24rem;
    background-color: #25123b;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-y: auto;
}

.nav-menu-title {
    padding: 0.8rem 1rem;
    text-align: center;
    background-color: #130a1f;
}

.nav-menu-section {
    margin: 1.8rem 2.2rem;
}

.nav-menu-section:not(last-child) {
    margin-bottom: 2.2rem;
}

.nav-menu-section__title {
    letter-spacing: 0.6px;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.nav-menu-ul li {
    display: flex;
    justify-content: space-between;
}

.nav-menu-ul li:not(last-child) {
    margin-bottom: 0.3rem;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    margin: 0.8rem;
    width: 40rem;
    padding: 2rem 3rem;
    background-color: #27133e;
    border-radius: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form {
    margin: 0.6rem 0;
}

.question {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

input {
    margin: 3px 0;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
}

.error-message {
    margin-top: 1rem;
    color: #cf3c3c;
}

.user-posts {
    max-height: 15rem;
    overflow-y: auto;
    margin-top: 0.8rem;
}

.user-posts li:not(:last-child) {
    margin-bottom: 0.8rem;
}

.dom-xss-2 a {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.dom-xss-2 {
    margin-top: 0.3rem;
}

#dom-xss-2-placeholder {
    margin-top: 1rem;
}
